*{
    text-align: justify;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;
}

body{
    background-image: linear-gradient(#FFBF00, #7E5109);
    background-repeat: no-repeat;
    height: 100%;
    min-width: 90%;
}
#header{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    display: flex;
}
nav {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    align-content: stretch;
    justify-content: space-around;

}
nav a {
    background-color: none;
    box-sizing: content-box;
    padding: 20px;
    margin: 0%;
    text-align: center;
}
a:link {
    text-decoration: underline;
  }
a:hover{
    text-decoration: dashed;
    color: red;
    font-style: italic;
    font-size: larger;
}
 #linkedins {
    padding-top: 0%;
    align-items: center;
    text-align: center;
    align-content: center;
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
}
#linkedins.h1 {
    text-align: center;
}
footer {
    align-content: center;
    margin: 10px;
    padding-left: 40%;
    padding-right: 40%;
    text-align: center;
    padding-bottom: 5px;
    margin: 20px auto;
    width: 100%;
    
}

p {
    padding: 5px;
    margin: 0;
    margin-top: 20px;
    font-size: large;
}
#principios {
    width: 100%;
    float: right;
}